.app-container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

.items-table{
    width: 100%;
    border-collapse: collapse;
  
}

.items-table th, .items-table td{
    font-size: 20px;
    padding: 20px;
    text-align: left;
}