button{
    background-color: #6082B6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    font-weight: bold;
}

nav{
    background-color: #6082B6;
}

.s{
    font-family: 'Lato', sans-serif;
    color:white;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

img{
    height: 30px;
    width: 30px;
    margin: 15px;
}

.item{
    color:white;
    margin-right: 20px;
    text-decoration: none;
}